html
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aquamarine;
}

div
{
    /* border: 1px solid; */
    background-color: aqua;
    /* background-image: url("https://source.unsplash.com/random"); */
    width: 5rem;
    height: 5rem;

    background-size: cover;

    margin: 2rem;
    padding: 2rem;
}

div:nth-of-type(2)
{
    /* Desplazamiento horizontal, desplazamiento vertical, difusion y color */
    box-shadow: 5px 0 0 black;
}

div:nth-of-type(3)
{
    box-shadow: 5px 5px 0 black;
}

div:nth-of-type(4)
{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

div:nth-of-type(5)
{
    /* Casi todas las cosas que vemos (pagina web, whatsapp...) tienen sombras, muy sutiles*/
    /* Si quitamos los bordes, vemos mucho mejor como en vez de quedar tan plano queda un poco "por encima del fondo" y esteticamente se ve mucho mas bonito */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

div:nth-of-type(6)
{
    /* La palabra inset hace que la sombra sea "hacia dentro" en vez de hacia fuera. Entonces hacemos que la imagen esté "hundida"  */
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
}


div:nth-of-type(7)
{
    background-color: transparent;
    border: 3px dashed blue;
    font-size: 2rem;
    color: blue;

    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7))
}

img
{
    width: 10rem;
    /* Si quisieramos ponerle sombra a una imagen con traspariencia con las box-shadow queda mal */
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); */

    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));

}