@import url(base.css);

html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body
{
    --espaciadoHeader: 10rem;
    --espaciadoMenu: 2rem;
    --espaciadoFooter: 2rem;
    display: grid;
    width: auto;
    height: auto;

    /* Vertical */
    /* grid-template-columns: 100%; */

    /* Horizontal */
    /* grid-template-rows: var(--espaciadoHeader) 100%var(--espaciadoFooter); */

    min-height: 100vh;
    min-width: 320px;

}

/* HEADER */
header
{
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 0;
}

header menu
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

header menu > li a{
    vertical-align:middle;
}

/* MENU HORIZONTAL */
body nav[aria-label="categorias"] {
    grid-row-start: 2;
    height: 2rem;
    flex-grow: 0;
}
body nav[aria-label="categorias"] menu{
    display: flex;
    align-items: center;
    height: auto;
}

/* MAIN */
main
{
    grid-row-start: 3;
    min-height: 80vh;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

main article {
    display: grid;
    grid-template-rows: 50% 15% 30% 5%;
}

article img {
    grid-column-start: 1;
    height: 100%;
    
}

article h2 {
    grid-row-start: 2;
    align-self: center;
    padding: 1rem 0 0 0;
    /* font-size: 80%; */
}

/* Hacemos que el tamaño de la fuente sea mas pequeño */
article p{
    font-size: 85%;
}

/* En caso de que tengan una descripcion muy grande, haremos que el overflow se oculte */
article p.description {
    /* grid-row-start: 3; */
    overflow:auto;
}

/* Hacemos que en caso de tener overflow desaparezcan las barras de scroll */
article p.description::-webkit-scrollbar{
    display: none;
}

article p.price {
    align-self: center;
    /* grid-row-start: 4; */
}


/* FOOTER */
footer
{
    flex-grow: 0;
    height: 2rem;
    display: flex;
    justify-content: space-evenly;

}

/* Cuando tengamos mas de 600px en pantalla, tendremos que cambiar la distribucion del grid y de los distintos flex en cada componente */

@media (min-width: 600px)
{
    body
    {
        --espaciadoMenuLado: 10rem;
        --espaciadoF: 2rem;
        --espaciadoH: 5rem;
        display: grid;
        
        /* Horizontal */
        grid-template-rows: var(--espaciadoH) calc(100% - var(--espaciadoH) - var(--espaciadoF)) var(--espaciadoF);

        /* Vertical */
        grid-template-columns: var(--espaciadoMenuLado) calc(100% - var(--espaciadoMenuLado));


        width: auto;
    }

    /* HEADER */
    header {
        z-index: 1;
        height: var(--espaciadoH);
        width: auto;

        /* Colocamos el header en la celda [1][1] y que se espanda a la celda [1][3] */
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem;
        align-items: center;
    }

    header menu{
        /* 1rem de distancia entre iconos */
        gap: 1rem;
    }

    /* MAIN */
    main
    {
        grid-row-start: 2;
        grid-column-start: 2;
        display: flex;

    }

    /* MENU HORIZONTAL */
    body nav[aria-label="categorias"] {
        height: auto;
        grid-row-start: 2;
        grid-column-start: 1;
        display: flex;
        justify-content:left;
        padding: 1rem 0;
    }

    body nav[aria-label="categorias"] menu{
        width: var(--espaciadoMenuLado);
        flex-direction: column;
    }
        
    body nav[aria-label="categorias"] menu li a{
        text-align: left;
        padding-left: 1rem;

    } 
    

    /* FOOTER */
    footer{
        height: var(--espaciadoF);
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

    }

}