li {
  height: auto;
  width: 100%;
  display: flex;
  background-color: beige;
  border-radius: 1rem;
}

li:not(:first-child) {
  margin-top: 2rem;
}

li:first-child {
  margin-top: 1rem;
}

li *:not(img) {
  width: 100%;
}

.container {
  position: relative;
}

.menor {
  border-radius: 1rem;
  background: linear-gradient(to top right, rgb(141, 247, 176), rgb(67, 184, 14));
}

.dinosaur {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  margin: 0.5rem;
  transform: scale(-1, 1);
}
