* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

button {
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

svg {
    fill: gray;
}

html
{
    /*  Variables */
    --TamanoInicial: 1;
    --TamanoFinal: 1.2;
    --ColorFinal: red;

}

/* Crea a partir de aquí tu CSS */

@keyframes CambioColor
{
    0%
    {
        transform: scale(var(--TamanoInicial));
    }
    25%
    {
        transform: scale(var(--TamanoFinal));
    }
    50%
    {
        transform: scale(var(--TamanoInicial));
        fill: var(--ColorFinal);
    }
    75%
    {
        transform: scale(var(--TamanoFinal));
        fill: var(--ColorFinal);
    }
    100%
    {
        transform: scale(var(--TamanoInicial));
        fill: var(--ColorFinal);
    }
}

.like
{
    /* animation-name: CambioColor;
    animation-duration: 500ms; */
    animation: CambioColor 500ms ease;

}