*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header
{
    background-color: black;
    color: white;
    padding: 3rem;
    text-align: center;
}

body > nav
{
    background-color: rgb(87, 87, 87);
    position: sticky;
    top: 0;
    z-index: 1;
}

body > nav li
{
    list-style: none;
    display: inline-block;
    /* border: 1px solid black; */
}

menu a, #arriba
{
    padding: 0.5rem 1rem;
    display: block;
    width: auto;
    color: white;
    text-align: center;
}

menu a:hover, #arriba:hover
{
    background-color: lightgrey;
}

main
{
    background-image: url("http://source.unsplash.com/random");
    height: 200vh;
}

#arriba
{
    /* Esto nos servira para hacer el tipico boton de volver a arriba, como vemos en el ejemplo */
    background: gray;
    position: fixed;
    right: 0;
    bottom: 3rem;
}

main  menu
{
    list-style: none;
    width: 10rem;
    background-color: gray;
    position: absolute;
    right: 0;
    /* z-index: -1; */
}

main  menu.hidden
{
    right: -10rem;
}