html
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main-section
{
    border: 1px solid black;
    width: 50vw;
    min-width: 400px;
    max-width: 600px;

    height: 50vh;
    min-height: 200px;
    max-height: 400px;

    overflow: auto;
}

section p:not(#main-section)
{
    border: 1px solid black;
    padding: 2rem;
    box-sizing: border-box;
}

#fit
{
    width: fit-content;
}

#max
{
    width: max-content;
}

#min
{
    width: min-content;
}