/* Reset */
*
{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: red; */
}

header
{
    background-color :darkslategrey;
    color: white;
    height: 10rem;

    /* De esta manera vamos a pode centrar todo el elemento (aunque en este caso se visibilice es el texto) */
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-bottom: 2rem; */
}

ul
{
    display: flex;

    list-style: none;
    /* Minimo entre los elementos habra 1 rem de distancia. En caso de que se junten mas estos saltaran de linea */
    gap: 1.5rem;
    flex-direction: column;
    /* flex-wrap: wrap; */

    /* Vamos a ponerle borde para ver donde esta */
    /* border: 1px solid; */
    width: 80%;
    margin: auto;
    max-width: 300px;
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */

    justify-content: space-between;
}

main
{
    flex-grow: 1;
    padding: 2rem;
}

article
{
    width: 100%;
    height: 18rem;
    background-color: rgb(191, 222, 233);
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid rgb(134, 134, 134);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.514);
}

article *:not(img)
{
    margin: 0.5rem 1rem;
}

img
{
    width: 100%;
    height:10rem;
    /* Asi no se deforma la imagen */
    object-fit: cover;
}

@media (min-width: 600px)
{
    ul
    {
        width: auto;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: none;
        justify-content: space-evenly;
    }

    article
    {
        width: 15rem;
    }
}