html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p:not(article p)
{
    border: 1px solid black;
    width: 25vw;
    height: 15rem;
}

#visible
{
    overflow: visible;
}

#hidden
{
    overflow: hidden;
}

#scroll
{
    overflow: scroll;
}

#auto
{
    overflow: auto;
}
p:not(article p)
{
    background-color: aqua;
}

p::-webkit-scrollbar
{
    width: 5px;
    background: rgba(136, 136, 136, 0);
}
/* Handle */
p::-webkit-scrollbar-thumb
{
    background: rgba(136, 136, 136, 0);
}
/* Handle in hover */

p:hover::-webkit-scrollbar-thumb
{
    background: rgba(136, 136, 136, 0.829);
}

/* Article */

article
{
    border: 5px solid blue;
    width: 20rem;
    border-radius: 2rem;

    overflow: hidden;

}

img
{
    width: 100%;

}