html
{
    font-family: 'Courier New', Courier, monospace;
}

div
{
    border: 1px solid black;
    margin: 2rem;
    width: 15rem;
    height: 3rem;
    padding: 1rem;
}

body
{
    background-image: url("https://source.unsplash.com/random");
}

#nombre
{
    background-color: aqua;
    /* Directamente buscamos un color y aparecera ahi */
}

#rgb
{
    /* red, green, blue */
    background-color: rgb(155, 0, 155);
}

#hex
{
    /* Empieza tambien por almohadilla */
    /* background-color: #FFF000; */
    /* background-color: #fabada; */
    background-color: #a0f; /* esto es igual a= aa00ff*/ 
}

#RGBA
{
    background-color: rgba(255, 0, 255, 0.2);
}

#HEXA
{
    /* Se puede acortar metiendo solamente 4 digitos, teniendo en cuenta que estos seran duplicados */
    background-color: #f0f6; /* = ff00ff66*/
}