/* Reset */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cambiamos la fuente para que sea mas legible en Google Chrome */
html
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;

    /* Colores Variables */
    --ColorHeaderBackground: black;
    --ColorHeaderLetter: white;
    --ColorHr: grey;
    --ColorH2: rgb(87, 87, 87);
    --ColorFormularioFondo:rgb(134, 133, 133);
}

/* HEADER. Color de fondo, color de letra. Tipo de padding, tamaño de fuentes para h1, h2 y p */
header
{
    background-color: var(--ColorHeaderBackground);
    color:  var(--ColorHeaderLetter);
    padding: 40px 3em;
}

header h1
{
    text-transform: capitalize;
    font-size: 3rem;
}

header h2
{
    text-transform: capitalize;
    font-size: 2rem;
}

header p
{
    font-size: 0.8rem;
}

/* MAIN */
main
{
    width: 80%;
    margin: 20px 5rem;
}

hr
{
    height: 1px;
    background-color: var(--ColorHr);
}

#main_section h2
{
    color: var(--ColorH2);
}

#primerParrafo
{
    margin: 1.5rem 0;
}

img
{
    float: right;
    padding: 1.5rem;
}

#Formulario h2
{
    color: var(--ColorH2);
    padding-top: 1.5rem;
}

#main_section h2, #Formulario h2
{
    font-size: 2rem;
}

#unorderedList
{
    list-style-type: none;
}

ul:first-child
{
    padding-top: 1.5rem;
}

ul > li > label
{
    /* font-size: 0.8rem; */
    display: flex;
    margin-bottom: 10px;
    font-weight: bold;
}

ul > li input, ul > li textarea
{
    border: none;
    background-color: var(--ColorFormularioFondo);
    width: 100%;
    color: var(--ColorHeaderBackground);
    font-size: 1.2rem;
    margin-bottom: 20px;
}

ul > li input
{
    height: 2.4rem;
}

ul > li textarea
{
    height: 8.8rem;
    resize: none;
}

#Boton
{
    background-color: black;
    color: white;
    height: 2.5rem;
    width: 7rem;
}